modules/configuration/gsrc/trainingapp/webservice/currency/exchangeratewsc/CurrencyAPI.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://example.com/externalapp/webservice/CurrencyAPI" name="CurrencyAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://example.com/externalapp/webservice/CurrencyAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://example.com/externalapp/webservice/CurrencyAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:element name="getConversionRate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="fromCurrency" type="xs:string" minOccurs="0"/>
            <xs:element name="toCurrency" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getConversionRateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:float"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="CurrencyAPIPortType">
    <wsdl:operation name="getConversionRate">
      <wsdl:input name="getConversionRate" message="tns:getConversionRate"/>
      <wsdl:output name="getConversionRateResponse" message="tns:getConversionRateResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrencyAPISoap12Binding" type="tns:CurrencyAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getConversionRate">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getConversionRate">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getConversionRateResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CurrencyAPISoap11Binding" type="tns:CurrencyAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getConversionRate">
      <soap11:operation style="document"/>
      <wsdl:input name="getConversionRate">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getConversionRateResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyAPI">
    <wsdl:port name="CurrencyAPISoap12Port" binding="tns:CurrencyAPISoap12Binding">
      <soap12:address location="http://localhost:8890/ab/ws/externalapp/webservice/CurrencyAPI"/>
      <gwwsdl:address location="${ab}/ws/externalapp/webservice/CurrencyAPI"/>
    </wsdl:port>
    <wsdl:port name="CurrencyAPISoap11Port" binding="tns:CurrencyAPISoap11Binding">
      <soap11:address location="http://localhost:8890/ab/ws/externalapp/webservice/CurrencyAPI/soap11"/>
      <gwwsdl:address location="${ab}/ws/externalapp/webservice/CurrencyAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getConversionRate">
    <wsdl:part name="parameters" element="tns:getConversionRate"/>
  </wsdl:message>
  <wsdl:message name="getConversionRateResponse">
    <wsdl:part name="parameters" element="tns:getConversionRateResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
  <wsdl:message name="gw-traceability-id">
    <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id"/>
  </wsdl:message>
</wsdl:definitions>